@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

footer{
	text-align: right;
}

i em{
	font-style: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

dd + dt{
	margin-top: 1em;
}
