@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

abbr.era{
	white-space: nowrap;
	font-variant: all-small-caps;
}

footer{
	text-align: right;
}

i em{
	font-style: normal;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

dt{
	margin-top: 0.5em;
	font-variant: small-caps;
}

dd{
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}
