@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

dd + dt{
	margin-top: 1em;
}

table{
	margin: 1em;
}

table tbody td:last-child{
	text-align: right;
}
